-
  var mainMenu = [
    {
      "id": "0",
      "name": "Главная страница",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Портфолио",
      "url": "/pages",
      "childs": [
        {
          "id": "10-0",
          "name": "Фото",
          "url": "pages/about"
        },
        {
          "id": "10-10",
          "name": "Видео",
          "url": "pages/services",
        },
        {
          "id": "10-20",
          "name": "Дизайн",
          "url": "pages/some"
        },
        {
          "id": "10-30",
          "name": "WEB",
          "url": "pages/some"
        },
      ]
    },
    {
      "id": "20",
      "name": "Блог",
      "url": "https://github.com/nicothin/NTH-start-project"
    },
    // {
    //   "id": "30",
    //   "name": "Новости",
    //   "url": "https://nicothin.pro/contact"
    // },
    {
      "id": "40",
      "name": "Контакты",
      "url": "https://nicothin.pro/contact"
    },

  ];
