extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block nav
  +main-nav('10')

block content
  .home
    .home__welcome
      img.welcome__photo(src="/img/mashuly.png")
      h1.welcome__title Привет! Я Маша
    .home__about
      h2.about__title Что это?
      p.about__text--new Это мой личный сайт, на котором собрана информация обо мне
      a.about__button.button-blog(href='#') Узнайте о том, что я делаю  <!-- Надо разобраться с кнопками и классами. Чтобы при редактировании одного класса менялись сразу все кнопки -->
    .home__blog
      h2.blog__title Блог
      p.blog__text Тут истории из моей жизни
      a.blog__button(href='#')  Прочитать истории
    .home__activity
      h2.activity__title Моя деятельность
      p.activity__text Я ещё только учусь и развиваюсь
      .activity__list
        +activity('img/activity_photo.svg', 'Фото', 'Фотографирую всё','pages/photo')
        +activity('img/activity_video.svg','Видео','Монтирую короткие видео','pages/video')
        +activity('img/activity_design.svg', 'Дизайн', 'Создаю полиграфию', 'pages/design')
        +activity('img/activity_web.svg', 'WEB', 'Создаю интернет', 'pages/web')

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
