//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin page-footer(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-footer()
          p «Подвал»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .page-footer__inner
      h3.page-footer__title Я в сети...
      .page-footer__social
        +social('img/social_instagram.svg', 'https://instagram.com/mashuly211')
        +social('img/social_vk.svg', 'https://vk.com/mashuly21')
        +social('img/social_youtube.svg', 'https://youtube.com/mashuly211')
        +social('img/social_telegram.svg', 'https://t.me/mashuly211')
      p.page-footer__copyright ©mashuly211